<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/categories.css">
        <script type="module" src="../js/guardian.js"></script>
        <title>Categories</title>
    </head>
    <body>
        <!-- Header with title and navigation -->
        <header>
        <h1>ProFinance Dashboard</h1>
        <nav>
            <ul>
                <li><a href="./dashboard.html">Balance</a></li>
                <li><a href="">Categories</a></li>
                <li><a href="./reports.html">Reports</a></li>
                 <button type="submit" id="btn-logout">Log Out</button>
            </ul>
        </nav>
    </header>
        <!-- Main content area -->
        <!-- Form to add categories -->
        <main>
            <form id="form-categories">
                <h1> categories</h1>
                <label for="categorie">Name</label>
                <input type="text" name="categorie" id="categorie" required>
                <button type="submit" id="btn-categorie">Add</button>
            </form>

            <h3>List of Categories</h3>
            <ul id="listCategories"></ul>
        </main>
        
        <script type="module" src="../js/categories.js"></script>
    </body>
</html>